@charset "utf-8";

@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url();
}
@font-face {
    font-family: 'Nanum Gothic', sans-serif;
    src: url();
}
@font-face {
    font-family: 'Gowun Dodum', sans-serif;    
    src: url();
}


body{
    width: 400px;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/horn_back.jpg);
    background-size: 975px;
    background-position-x: -244px;
}

.player_wrap{
    width: 400px;
    height: 100vh;
    background-color: #121111;
    opacity: 0.9;
}

.player_top{
    width: 100%;
    height: 5vh;
    margin-top: 20px;
    padding: 0 15px;
}

.close_icon > a{
    width: 25px;
    display: block;
    float: right;
}

.close_icon > a > img{
    transform: rotate(270deg);
}

.player_main{
    width: 100%;
    height: 75vh;
    /* background-color: aquamarine; */
}

.song_title{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cd_play{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd_img{
    width: 350px;
    height: 350px;
    display: inline-block;
    margin-bottom: 115px;
    /* transform-style: preserve-3d;
    animation: ro 3s linear infinite; */
}

.cd_img.active{
    transform-style: preserve-3d;
    animation: ro 3s linear infinite;
}
@keyframes ro{
    from{
        transform: rotateY(0deg);
    }
	to{
    	transform: rotate(360deg);
    }
}

.player_control{
    width: 100%;
    height: 5vh;
    /* background-color: lightpink; */
}
.controller{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.progressbar{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pro_bar{
    width: 100%;
    height: 3px;
    background-color: #ffff;
}

.rotation{
    width: 50px;
    display: flex;
    justify-content: center;
    position: relative;

}
.rotation_icon{
    width: 30px;
}


.Shuffle{
    width: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}
.shuffle_icon{
    width: 30px;
    height: 35px;
}
#shuffle_off.active{
    display: none;
}
#shuffle_on{
    display: none;
}
#shuffle_on.active{
    display: inline-block;
}



.title_play{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
.song_icon{
    width: 25px;
    /* position: absolute; */

}
.song_icon > a{
    width: 25px;
    display: inline-block;
}

.song_pre{
    width: 20%;
}
.song_play{
    width: 20%;
    display: flex;
    align-items: center;
    position: relative;
}
.song_next{
    left:0%;
}

#s_stop{
    display: none;
}

#s_play.active{
    display: none;
}
#s_stop.active{
    display: inline-block;
}